<html>
<head>
</head>
<body>
  <div class="container">
    <div class="col-md-6">
      <h1>All Photos</h1>
      <a href = "http://localhost:3000/photos/new">Add a Photo</a>
      <div class="thumbnail">
        <% @list_of_photos.each do |photo| %>
        <img src=" <%= photo.source %>">
        <p>
          <%= photo.caption %>
        </p>

        <div class="thumbnail">
          <div class="caption">
            <!-- <a href="/photos/4368" class="btn btn-default btn-block"> -->
            <a href = "http://localhost:3000/photos/<%= photo.id %>" class="btn btn-default btn-block">
              Detail
            </a>
            <a href = "http://localhost:3000/photos/<%= photo.id %>/edit" class="btn btn-default btn-block">
              Edit
            </a>
            <a href = "http://localhost:3000/delete_photos/<%= photo.id %>" class="btn btn-default btn-block">
              Delete
            </a>
          </div>
        </div>

        <!-- <div>
        <a href = "http://localhost:3000/photos/<%= photo.id %>">Detail</a>
        <a href = "http://localhost:3000/photos/<%= photo.id %>/edit">Edit</a>
        <a href = "http://localhost:3000/delete_photos/<%= photo.id %>">Delete</a>
      </div> -->

      <%end %>
    </div>
  </div>
</div>

</body>
</html>
